{{!-- create a view for a user to create a new blog post (with title, body and author inputs) --}}

{{#extends 'layouts/main'}}
{{#content 'page-title'}}New Post{{/content}}

<form action="/api/posts" method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Body:</label>
            <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit:</button>
</form>

{{> editPost }}

{{/extends}}

<script src="../../public/js/edit.js"></script>