<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techno Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      The Tech Blog
    </h1>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      {{#if logged_in}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#" class="btn" id="logout">logout</a></li>
      {{else}}
      <li><a href="/login">Login</a></li>
      {{/if}}
      </ul>
      
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      <a href="/dashboard/new">Create New Post</a>
  </footer>
  
</body>
  <script src="/js/logout.js"></script>
</html>