{{!-- set the layout to dashboard --}}
{{#extends 'dashboard'}}

{{!-- specify title --}}
{{#content 'title'}}Edit Post{{/content}}

{{!-- define main content --}}
{{#content 'main'}}
  <h2>Edit Post</h2>
  <form class="id" action="/posts/{{ id }}?_method=PUT" method="POST">
    <div>
      <label for="title">Title:</label>
      <input class="edit-title-input" type="text" name="title" value="{{ title }}" required>
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea class="edit-content-input" name="content" rows="10" required>{{ content }}</textarea>
    </div>
    <div>
      <button type="submit">Update</button>
    </div>
  </form>
{{/content}}

<script src="../../public/js/edit.js"></script>



{{!-- <form action="/posts/{{id}}" method="POST">
{{!-- _method with a value of PUT tells server that this is a PUT request, since HTML forms only support GET and POST reqs: --}}
  <input type="hidden" name="_method" value="PUT"> --}}