{{!-- This is the view for when an auth user wants to create a new blog post (with title, body, author inputs) --}}

{{#extends "dashboard"}}
  {{#contentFor "main"}}

<h1>Write a New Blog Post</h1>
    <form action="/api/posts" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body:</label>
                <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit:</button>
    </form>

  {{/contentFor}}
{{/extends}}

<script src="../../public/js/new.js"></script>